<html>
    <head>
        <script src="https://unpkg.com/vue@next"></script></script>

    </head>

    <body>

        <div id="app">

<!-- All the page that vue will manage will go here  -->
            <h1>Hello Vue Forms</h1>

            <label for="name">Please enter your name:</label>
            <input v-model="name" id="name">
            <!-- display name if something is entered in the name input -->
            <p v-if="name">
                Your name is {{ name }}
                <button v-on:click="clear">Clear input</button>
            </p>
            <p v-else>
                Waiting for user input
            </p>
          

        </div>

        <script>

            let app = Vue.createApp({
                data(){
                    return {
                        name: '' // empty string
                    }
                },
                methods: {
                    clear(){
                        this.name = ''
                    }
                }

            })

            app.mount('#app')

        </script>

    
    </body>

</html>